.us-map-container {
    max-width: 900px; 
    min-width: 250px;
    max-height:80vh;
    margin: 0 0 10vh 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us-map-container svg {
    width: 100%;
    height: 100%;
    max-width: 900px;
    display: block;
    margin: 0 auto;
}

.us-map-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    font-size: clamp(0.8rem, 1.5vw, 1.1rem);
    max-width: 40vw;
    fill: #ffffff;
}

.us-map-tooltip {
    position: absolute;
    pointer-events: none;
    background: rgba(255,255,255,0.95);
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.8em;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    display: none;
    z-index: 10;
}


.us-map-controls-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 20px 0 10px 0;
}

/* ======= Play-Pause Button - Slider - Date ======= */

.um-controls-container {
    max-width: 50vw;
    margin: 0.3em auto 0.3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.um-slider-play-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.um-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
}

.um-play-button i {
    font-size: 36px;
    color: #fff;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

.um-slider-container {
    margin-top: 20px;
    margin: 20px auto;
}

.um-slider-wrapper {
    width: 30vw;
    min-width: 300px;
    max-width: 100vw;
    overflow: visible;
}

.um-slider {
    width: 100%;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    outline: none;
    border-radius: 4px;
    margin: 0;
}


.um-slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #007bff;
    cursor: pointer;
}

.um-date-display {
    min-width: 150px;
    text-align: center;
    color: #ffffff;
    font-size: 1.3em;
    margin-top: 0;
}



